- local a = "name"
- local b = 'hello'
- local msg = req.query.msg or 'NOMSG'
%html
  %head
    %title SB Admin 2
  %body
    %a(error='ab') abcd
    %div
      %li= #{a}
      %li= #{b}
      %li= #{msg}
    = #{msg}
    %div
      %p
        #{msg}


:javascript
  var msg='<%= msg%>';
  console.log(msg);
